altgraph==0.17.4
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
kiwisolver==1.4.5
matplotlib==3.9.0
Nuitka==2.3.11
numpy==1.26.4
ordered-set==4.1.0
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
pillow==10.3.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyparsing==3.1.2
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
scikit-rf==1.0.0
scipy==1.13.1
setuptools==70.3.0
shiboken6==6.7.2
six==1.16.0
tzdata==2024.1
zstandard==0.22.0
